*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: #181818;
	font-family: 'Graphik', sans-serif;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.wrap {
	min-height: 100%;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 300px;
}

.nav {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.nav__list {
	padding: 0px 200px;
	display: flex;
	gap: 65px;
}

.nav__link {
	font-weight: 500;
	font-size: 16px;
	color: white;
	line-height: 30px;
	letter-spacing: 0.2px;
}

.nav__link:hover {
	font-weight: 600;
}

.nav__button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #FFFFFF;
	width: 139px;
	height: 52px;
}

.nav__button:hover {
	width: 142px;
	height: 55px;
}

.nav__button__login {
	color: white;
	font-size: 17px;
	font-weight: 500;
}