@import url('https://fonts.googleapis.com/css2?family=Graphik&display=swap');

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: #181818;
	font-family: 'Graphik', sans-serif;
	color: white;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.wrap {
	min-height: 100%;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 300px;
}

.nav {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.nav__list {
	padding: 0px 200px;
	display: flex;
	gap: 65px;
}

.nav__link {
	font-weight: 500;
	font-size: 16px;
	color: white;
	line-height: 30px;
	letter-spacing: 0.2px;
}

.nav__link:hover {
	font-weight: 600;
}

.nav__button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #FFFFFF;
	width: 139px;
	height: 52px;
}

.nav__button:hover {
	width: 142px;
	height: 55px;
}

.nav__button__login {
	color: white;
	font-size: 17px;
	font-weight: 500;
}

.headline {
	display: flex;
	justify-content: center;
	flex-direction: column; 
	align-items: center;
	padding: 150px 0px;
}

.headline__title {
	font-weight: 500;
	font-size: 80px;
	line-height: 88px;
	text-align: center;
}

.headline__subtitle {
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.2px;
	text-align: center;
	padding: 50px 0px;
}

.headline__buttons {
	display: flex;
	gap: 35px;
}

.headline__button {
	width: 178px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 17px;
	line-height: 25px;
}

.headline__button--try {
	background-color: #4452FE;
}

.headline__button--learn {
	border: 1px solid #FFFFFF;
}

.headline__button__link {
	color: white;
}

.screens__image {
	display: flex;
	justify-self: center;
}

.screens__gradient {
	position: absolute;
    top: 1250px;
    left: 0;
    right: 0;
    width: 100%;
    height: 551px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0) 100%);
}